{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="mb-2 px-4 py-2 rounded-lg 
                    {% if message.tags == 'success' %}
                        bg-green-100 text-green-900 border-green-400
                    {% elif message.tags == 'error' %}
                        bg-red-100 text-red-900 border-red-400
                    {% elif message.tags == 'info' %}
                        bg-blue-100 text-blue-900 border-blue-400
                    {% elif message.tags == 'warning' %}
                        bg-yellow-100 text-yellow-900 border-yellow-400
                    {% endif %}
                ">
                    {{ message }}
                </li>
            {% endfor %} 
        </ul>
    {% endif %}
        <div class="flex justify-between items-center border-b border-gray-200 pb-6 mb-8">
            <h1 class="text-3xl font-semibold text-gray-800">Staffs</h1>
            <div class="flex items-center space-x-6">
                <a href="{% url 'staffs:staff-create' %}" class="text-indigo-500 hover:text-indigo-700">Add Staff</a>
            </div>
        </div>
        <div class="mb-8 flex items-center">
            <form method="GET" action="" class="flex items-center space-x-4">
                {% csrf_token %}
                <input type="text" name="search_term" placeholder="Search..." class="border rounded-l py-2 px-4 focus:outline-none focus:ring focus:border-blue-300">
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-r hover:bg-blue-600">Search</button>
            </form>
        </div>
        
        <div class="overflow-x-auto">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Username
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Firstname
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Lastname
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Deparment
                            </th>
                            {% if request.user.is_admin %}
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Action
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in object_list %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ user.username }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ user.first_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ user.last_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ user.department }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <form method="get" action="{% url 'staffs:staff-update' user.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
                                    </form>
                                 </td>
                            </tr>
                        {% empty %}

                        <p>There are currently no Staff</p>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>
{% endblock content %}
